<div class="pag">
  <div class="contenedor">
    <!--BARRA-->

    <div class="barra">
      <img class="atras" src="../../../assets/Img/back.png" alt="" />

      <p class="titulo">Más ingresos para su negocio</p>
      <img class="cerrar" src="../../../assets/Iconos/Icono_24X.png" alt="" />
    </div>
    
    <div class="ayuda">
      <img src="../../../assets/Img/Grupo 17268.png" alt="" />
    </div>
    <!--contenido-->
    <div class="contenido">
      <img
        src="../../../assets/Img/Captura de Pantalla 2022-05-24 a la(s) 12.40.43 p.m..png"
        alt=""
      />

      <div class="caract">
        <h3>Beneficios y características</h3>
        <div class="opcion1">
          <img src="../../../assets/Iconos/Grupo 18033.png" alt="" />
          <p>
            Genere ingresos realizando compras en la tienda virtual y reciba
            entre el 2% y el 4% en devolución de la compra
          </p>
        </div>
        <hr />
        <div class="opcion1">
          <img src="../../../assets/Iconos/Grupo 19801.png" alt="" />
          <p>Aprenda cómo posicionar su negocio en nuestra escuela.</p>
        </div>
        <hr />
        <div class="opcion1">
          <img src="../../../assets/Iconos/IconoR_24Movimientos.png" alt="" />
          <p>Acceda a informes detallados de su botón de pagos.</p>
        </div>
        <hr />
        <div class="opcion1">
          <img src="../../../assets/Iconos/IconoR_16Cuanto debo.png" alt="" />
          <p>Obtenga estos beneficios de manera gratis y sin algún costo.</p>
        </div>
        <!--terminos y condiciones-->
        <div class="terminos-y-condiciones">
          <img src="../../../assets/Iconos/check.png" alt="" />
          <p>
            Autorizo el descuento por suscripción aceptando los<u
              ><b>Términos y Condiciones.</b></u
            >
          </p>
        </div>
      </div>
    </div>
    <button mat-aised-button class="boton">Contratar</button>
  </div>
</div>
