<div class="pag">
  <div class="contenedor">
    <!--BARRA-->
    <div class="barra">
      <img class="logo" src="../../../assets/Img/logo.png" alt="" />
      <img class="close" src="../../../assets/Iconos/Icono_24X.png" alt="" />
    </div>
    <!--menus-->
    <div class="menus">
      <button
        class="menu"
        mat-icon-button
        aria-label="Example icon-button with a menu"
      >
        <mat-icon
          ><img src="../../../assets/Iconos/IconoB_32Menú Hamburguesa.png" alt=""
        /></mat-icon>
      </button>
      <button
        class="notificacion"
        mat-icon-button
        aria-label="Example icon-button with a menu"
      >
        <mat-icon
          ><img src="../../../assets/Iconos/Grupo 15202.png" alt=""
        /></mat-icon>
      </button>
    </div>
    <!--opciones-->
    <div class="opciones">
      <div class="barra1">
        <img src="../../../assets/Iconos/Icono_24Abrir Productos.png" alt="" />
        <div>
          <p>Soluciones Mi negocio</p>
        </div>
      </div>
      <div class="barra2">
        <div>
          <p>Topes</p>
        </div>
        <img src="../../../assets/Iconos/Grupo 17985.png" alt="" />
      </div>
    </div>
  
    <!--Contenido-->
    <div class="contenido">
      <div class="wrap">
        <a href="#">
          <div></div>
        </a>
        <a href="#">
          <div></div>
        </a>
        <a href="#">
          <div>
            <img
              width="34px"
              height="34px"
              src="../../../assets/Iconos/Grupo 17914.png"
              alt=""
            />
            <p>Pasar Plata          </p>
                <!-- <span class="content">
                <span class="p1">P</span>
                <span class="p2">a</span>
                <span class="p3">s</span>
                <span class="p4">a</span>
                <span class="p5">r</span>
                <span class="p6"> </span>
                <span class="p7">P</span>
                <span class="p8">l</span>
                <span class="p9">a</span>
                <span class="p10">t</span>
                <span class="p11">a</span>
              </span> -->
          </div>
        </a>
        <a href="#">
          <div>
            <img src="../../../assets/Iconos/Grupo 17913.png" alt="" />
            <p>Sacar Plata</p>
          </div>
        </a>
        <a href="#">
          <div>
            <p class="name">Mi DaviPlata</p>
            <p class="money">$8’000.000,00</p>
            <p class="disponible">Disponible</p>
          </div>
        </a>
      </div>
    </div>
    <!--NanaStore-->
    <img class="ayuda" src="../../../assets/Img/Grupo 17268.png" alt="" />
    <p class="Titulo">NanaStore</p>
    <div class="nanastore">
      <h3>Vender</h3>
      <p>Elija una opción para recibir el pago de su venta.</p>
      <div>
        <button>
          <img src="../../../assets/Iconos/Grupo 16605.png" alt="" />
          <div>Código QR</div>
        </button>
        <button>
          <img src="../../../assets/Iconos/Grupo 17906.png" alt="" />
          <div>Enlace de pago</div>
        </button>
      </div>
    </div>
    <!--Ingresos-->
    <button class="ingresos" routerLink="/caracteristicas">
      <img src="../../../assets/Iconos/Grupo 19297.png" alt="" />
      <div>
        <p class="titulo">Más ingresos para su negocio</p>
        <p class="descripcion">Conozca los beneficios.</p>
      </div>
    </button>
    <!--catalogos-->
    <div class="catalogos">
      <div class="opciones-catalogo">
        <p>Catálogos</p>
        <div>
          <img src="../../../assets/Iconos/Grupo 19805.png" alt="" />
          <p>Nuevo catálogo</p>
        </div>
      </div>
    </div>
    <!--imagenes-->
    <div class="catalogo-descripciones">
      <div>
        <img src="../../../assets/Img/Grupo 7379.png" alt="" />
        <p>Avon</p>
      </div>
      <div>
        <img src="../../../assets/Img/Imagen 50.png" alt="" />
        <p>Natura</p>
      </div>
      <div>
        <img src="../../../assets/Img/Imagen 51.png" alt="" />
        <p>Aquarella</p>
      </div>
      <div>
        <img src="../../../assets/Img/Imagen 52.png" alt="" />
        <p>Pacífica</p>
      </div>
    </div>
    <!--puntos-->
    <div class="op">
      <div class="circulo"></div>
      <div></div>
      <div></div>
    </div>
  </div>
  
</div>
